html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, white, white, white, #ffffff85, #f3f2f560, #f3e7fe4d, #e0c3fc52, #cfd9ff4b, #a1c4fd31);
    background-repeat: no-repeat;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

/* Auto-resizing textarea */
textarea.form-control {
    resize: none;
    overflow: hidden;
    border: 2px solid transparent;
    /* Add a transparent border */
    background-image: linear-gradient(white, white), linear-gradient(to right, #54ceff, #ac6aff, #ff98e2);
    /* Update gradient background */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

/* Markdown styles */
.markdown-content ul {
    padding-left: 20px;
    margin: 0;
}

.markdown-content ol {
    padding-left: 20px;
    margin: 0;
}

.markdown-content li {
    margin: 5px 0;
}

.markdown-content strong {
    font-weight: bold;
}

.card {
    width: 75%;
    height: 75%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(37, 29, 39, 0.1);
}

.card-body {
    height: 550px;
    overflow-y: auto;
    padding: 15px;
}

.card .card-header {
    background-color: rgba(211, 211, 211, 0.219);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #0e0c15;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    /* Add this line to increase the font size */
}

.bot-icon {
    height: 85px;
    border-radius: 20%
}

.chat-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    /* Slightly transparent white background */
    border-radius: 10px;
}

.chat-message {
    padding: 10px;
    border-radius: 15px;
    margin: 5px 0;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;

    p {
        margin: 0;
    }
}

.bot-message-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.user-message {
    background-color: #61666f;
    color: white;
    align-self: flex-end;
    border-radius: 15px 15px 0 15px;
    margin-right: 10px;
}

.bot-message {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
    border-radius: 15px 15px 15px 0;
    margin-left: 10px;
}

.markdown-content {
    font-size: 14px;
    line-height: 1.5;
}

#chat-message {
    resize: none;
    overflow: hidden;
}

/* Typing dots animation */
.typing-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    margin: 0 auto;
    /* Center the typing dots horizontally */
    overflow: hidden;
    /* Prevent overflow */
}

.typing-dots div {
    margin: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #727070;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.typing-dots div:nth-child(1) {
    animation: typing-dots1 0.8s infinite;
}

.typing-dots div:nth-child(2) {
    animation: typing-dots2 0.8s infinite;
    animation-delay: 0.2s;
}

.typing-dots div:nth-child(3) {
    animation: typing-dots2 0.8s infinite;
    animation-delay: 0.4s;
}

@keyframes typing-dots1 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes typing-dots2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}